<!DOCTYPE html>
<html lang="en" data-bs-theme='dark'>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.8-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.min.css' %}">
  </head>
  <body>
    {% include 'components/navbar.html' %}


    <div class="container mt-3">

      {% block content %}
      {% endblock %}
      
    </div>
  </body>
</html>
